@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.ProjectViewModel>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 2px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 2px;
            color: whitesmoke;
        }

        tr:nth-child(even) {
            background-color: #e6f2ff;
        }

        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>
</head>

<body style="padding-bottom:50px;">
    <div style="padding-left:140px;padding-bottom:80px;">
        <h3 style="color:#000099"><u> <b>Projects List </b></u></h3>

        <div style="padding-left:775px;">
            <a asp-action="CreateProject" class="btn btn-outline-success">Add New Project</a>

        </div>
        <br />

        <table class="table" id="table" style="font-family: arial, sans-serif;border-collapse:collapse;width:100%;padding-top:25px;font-size:17px">
            <thead>
            
                <tr style="vertical-align:central;">
                    <th style="background-color: #0000b3;">
                        Sl.No
                    </th>
                    <th style="background-color: #0000b3;">
                        @*@Html.DisplayNameFor(model => model.Id)*@
                       Project ID
                    </th>
                    <th style="background-color: #0000b3;">
                        EMP ID
                    </th>
                    <th style="background-color: #0000b3;">
                      Project Title
                    </th>
                    <th style="background-color: #0000b3;">
                      Project Description
                    </th>
                    <th style="background-color: #0000b3;">
                      Project Start Date
                    </th>
                    <th style="background-color: #0000b3;">
                      Project End Date
                    </th>
                    <th style="background-color: #0000b3;">
                       Client Name
                    </th>
                    <th style="background-color: #0000b3;">Action </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                    <tr style="vertical-align:central;">
                        <td style="padding-left:25px;vertical-align:central;">
                            &nbsp;
                        </td>
                        <td style="padding-left:10px;text-align:center;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td style="padding-left:10px;text-align:center;">
                            @Html.DisplayFor(modelItem => item.EmpId)
                        </td>
                        <td style="vertical-align:central;">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td style="padding-left:10px;vertical-align:central;">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.Client)
                        </td>
                        <td style="padding-left:10px;">
                            <a asp-action="EditProject" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                            <a asp-action="DetailsByProjectID" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

