@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.ProjectViewModel>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 2px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 2px;
            color: whitesmoke;
        }

        tr:nth-child(even) {
            background-color: #e6f2ff;
        }
    </style>
</head>

<body>
    <div style="padding-left:20px;">
        <h3 style="color:#000099"><u> <b>Projects List </b></u></h3>

        <div style="padding-left:925px;">
            <a asp-action="CreateProject" class="btn btn-outline-success">Add New Project</a>

        </div>
        <br />

        <table class="table" style="font-family: arial, sans-serif;border-collapse:collapse;width:100%;padding-top:10px;">
            <thead>
                <tr>
                    <th style="background-color: #0000b3;">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th style="background-color: #0000b3;">
                        @Html.DisplayNameFor(model => model.EmpId)
                    </th>
                    <th style="background-color: #0000b3;">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th style="background-color: #0000b3;">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th style="background-color: #0000b3;">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th style="background-color: #0000b3;">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th style="background-color: #0000b3;">
                        @Html.DisplayNameFor(model => model.Client)
                    </th>
                    <th style="background-color: #0000b3;">Action </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.EmpId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.Client)
                        </td>
                        <td style="padding-left:10px;">
                            <a asp-action="EditProject" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                            <a asp-action="DetailsByProjectID" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

