@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.ExpenseCategoryViewModel>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 2px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 2px;
            color: #ffffff;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }
        tr:nth-child(even) {
            background-color: #d9d9d9;
        }


        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>
</head>

<body style="background-color:#e6e6ff">
    <div style="padding-left:300px;">
        <h4 style="color:#000066;align-content:center;"><u> <b>Category List </b></u></h4>

        <div style="padding-left:412px;">
            <a asp-action="CreateExpenseCategory" class="btn btn-success" style="background-color:#008000;">Add New Category</a>

        </div>
        <br />


        <table class="table" id="table"  style="font-family: arial, sans-serif;border-collapse:collapse;width:70%;padding-top:10px;font-size:17px">
        <thead>
            <tr>
                    <th style="background-color:  #404040;">
                        Sl.No
                    </th>
                    @*<th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
                    <th style="background-color:   #404040;">
                        Category Name
                   @* @Html.DisplayNameFor(model => model.Name)*@
                </th>
                    <th style="background-color:#404040;width:30%">Action </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                        <td style="padding-left:25px;" width="10%">
                            &nbsp;
                        </td>
                   @* <td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                    <td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td >
                    <td style="padding-left:20px;">
                            <a asp-action="EditExpenseCategory" asp-route-id="@item.Id" type="button" class="btn btn-warning">Edit </a>
                            <a asp-action="DetailsByExpenseCategoryID" asp-route-id="@item.Id" type="button" class="btn btn-info" >View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</body>



