@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.ExpenseCategoryViewModel>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 2px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 2px;
            color: whitesmoke;
        }

        tr:nth-child(even) {
            background-color: #e6f2ff;
        }


        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>
</head>

<body>
    <div style="padding-left:300px;">
        <h5 style="color:#000099"><u> <b>Category List </b></u></h5>

        <div style="padding-left:400px;">
            <a asp-action="CreateExpenseCategory" class="btn btn-success">Add New Category</a>

        </div>
        <br />


        <table class="table" id="table"  style="font-family: arial, sans-serif;border-collapse:collapse;width:70%;padding-top:10px;font-size:16px">
        <thead>
            <tr>
                    <th style="background-color: #0000b3;">
                        Sl.No
                    </th>
                    @*<th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
                    <th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                    <th style="background-color: #0000b3;">Action </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                        <td style="padding-left:25px;" width="10%">
                            &nbsp;
                        </td>
                   @* <td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                    <td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td >
                    <td style="padding-left:10px;">
                            <a asp-action="EditExpenseCategory" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                            <a asp-action="DetailsByExpenseCategoryID" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</body>



