@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.ExpenseCategoryViewModel>

 <head>
    @{
        ViewData["Title"] = "Index";
    }
    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 3px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 4px;
            color: whitesmoke;
        }

        tr:nth-child(even) {
            background-color: #e6f2ff;
        }
    </style>


 </head>


<body>
    <div style="padding-left:150px;">
        <h3 style="color:#000099"><u> <b>Expense Category List </b></u></h3>
        <div style="padding-left:340px;">
            <a asp-action="CreateExpenseCategory" class="btn btn-outline-success">Create New Expense Category</a>
            @*  <button class="btn btn-primary" data-target="#CreateDepartment" data-toggle="modal">Add Department</button>*@
        </div>
        <br />
        <table class="table" style="font-family: arial, sans-serif;border-collapse:collapse;width: 60%;padding-top:10px;">
            <thead>
                <tr>
                    <th style="background-color: #0000b3;">
                        ID
                    </th>
                    <th style="background-color: #0000b3;">
                        Expense Category
                    </th>
                    <th style="background-color: #0000b3;">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="padding-left:20px;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td style="padding-left:30px;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="padding-left:30px;">
                            <a asp-action="EditExpenseCategory" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a asp-action="DetailsByExpenseCategoryID" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditExpenseCategory" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DetailsByExpenseCategoryID" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
*@

