@model DRS.ExpenseManagementSystem.UI.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<body>
    <div style="padding-left:200px;">

        <h3 style="color:#000099"> <u> <b>Employee Details </b></u>  </h3>
        <br />

        <dl class="row">

            <dt class="col-sm-6">
                ID:  @Html.DisplayFor(model => model.Id)
            </dt>


            <dd class="col-sm-6">
                EMP ID:  @Html.DisplayFor(model => model.EmpId)
            </dd>

            <dd class="col-sm-6">
                First Name:  @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dd class="col-sm-6">
                Last Name: @Html.DisplayFor(model => model.LastName)
            </dd>

            <dd class="col-sm-6">
                Email ID: @Html.DisplayFor(model => model.Email)
            </dd>

            <dd class="col-sm-6">
                Phone Number:  @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dd class="col-sm-6">
                City:  @Html.DisplayFor(model => model.City)
            </dd>

            <dd class="col-sm-6">
                Gender: @Html.DisplayFor(model => model.Gender)
            </dd>

            <dd class="col-sm-6">
                Designation: @Html.DisplayFor(model => model.Designation)
            </dd>

            <dd class="col-sm-6">
                Date of Joining:  @Html.DisplayFor(model => model.DateOfJoining)
            </dd>


        </dl>
    </div>
    <div style="padding-left:700px;">
        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
    </div>

</body>


