@model DRS.ExpenseManagementSystem.UI.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<body style="overflow:auto;background-color:#e6e6ff">
    <div style="padding-left:225px;">

        <h5 style="color:#000066"> <u> <b>Employee Details </b></u>  </h5>
        <br />

        <div class="row">
            @*<div class="col-md-2">
                <div class="form-group">
                    <b>  <label asp-for="EmpId" class="control-label">User ID</label></b>
                    <input asp-for="EmpId" class="form-control" type="number" min="1" required />
                    <span asp-validation-for="EmpId" class="text-danger"></span>
                </div>
            </div>*@


            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <b>   <label asp-for="Email" class="control-label">Email ID</label></b>
                        <input asp-for="Email" class="form-control" type="email" disabled />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <b>  <label asp-for="PhoneNumber" class="control-label">Phone Number</label></b>
                    <input asp-for="PhoneNumber" class="form-control" type="number" pattern="[1-9]{1}[0-9]{9}" disabled  />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row" style="padding-top:5px;">
            <div class="col-md-5">
                <div class="form-group">
                    <b> <label asp-for="FirstName" class="control-label">First Name</label></b>
                    <input asp-for="FirstName" class="form-control" type="text" disabled />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <b>   <label asp-for="LastName" class="control-label">Last Name</label></b>
                    <input asp-for="LastName" class="form-control" type="text" disabled />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <b>  <label asp-for="Gender" class="control-label"></label></b>
                    <select asp-for="Gender" class="form-control" disabled>
                        <option value="">-- Select --</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
        </div>




        <div class="row" style="padding-top:5px;">
            <div class="col-md-3">
                <div class="form-group">
                    <b>  <label asp-for="DateOfJoining" class="control-label">Joining Date</label></b>
                    <input type="date" asp-for="DateOfJoining" class="form-control" disabled />
                    <span asp-validation-for="DateOfJoining" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <b> <label asp-for="DeptId" class="control-label">Department</label></b>

                    <select asp-for="DeptId" asp-items="ViewBag.departmentList" class="form-control Selectinput" id="Department" disabled>
                        <option value="">-- Select --</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <b>  <label asp-for="Designation" class="control-label"></label></b>
                    <input asp-for="Designation" class="form-control" disabled />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
            </div>

        </div>


        <div class="row" style="padding-top:5px;">

            <div class="col-md-7">
                <div class="form-group">
                    <b>  <label asp-for="City" class="control-label"></label></b>
                    <input asp-for="City" class="form-control" type="text" disabled />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b>  <label asp-for="PanNumber" class="control-label">PAN Number</label></b>
                    <input asp-for="PanNumber" class="form-control" regex="[A-Z]{5}[0-9]{4}[A-Z]{1}" disabled />
                    <span asp-validation-for="PanNumber" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row" style="padding-top:5px;">
            <div class="col-md-6">
                <div class="form-group">
                    <b>  <label asp-for="BankName" class="control-label">Bank Name</label></b>
                    <input asp-for="BankName" class="form-control" type="text" disabled />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b>   <label asp-for="AccountNumber" class="control-label">Account Number</label></b>
                    <input asp-for="AccountNumber" class="form-control" type="number" regex="[7-9]{1}[0-9]{9}" disabled />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b>  <label asp-for="Ifsc" class="control-label">IFSC Code</label></b>
                    <input asp-for="Ifsc" class="form-control" regex="[A-Z]{4}[0][0-9/A-Z]{6}" disabled />
                    <span asp-validation-for="Ifsc" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    <br />
    <div style="padding-left:850px;">
        <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
        <a asp-action="EditEmployee" asp-route-id="@Model.Id" class="btn  btn btn-success">Edit Details</a>
    </div>

</body>



@*<dl class="row">

    <dt class="col-sm-6">
        ID:  @Html.DisplayFor(model => model.Id)
    </dt>


    <dt class="col-sm-6">
        EMP ID:  @Html.DisplayFor(model => model.EmpId)
    </dt>

    <dt class="col-sm-6" style="padding-top:10px;">
        First Name:  @Html.DisplayFor(model => model.FirstName)
    </dt>

    <dt class="col-sm-6" style="padding-top:10px;">
        Last Name: @Html.DisplayFor(model => model.LastName)
    </dt>

    <dt class="col-sm-6" style="padding-top:10px;">
        Email ID: @Html.DisplayFor(model => model.Email)
    </dt>

    <dt class="col-sm-6" style="padding-top:10px;">
        Phone Number:  @Html.DisplayFor(model => model.PhoneNumber)
    </dt>

    <dt class="col-sm-10" style="padding-top:10px;">
        Department: @Html.DisplayFor(model => model.Dept.Name)
    </dt>

    <dt class="col-sm-6" style="padding-top:10px;">
        City:  @Html.DisplayFor(model => model.City)
    </dt>

    <dt class="col-sm-6" style="padding-top:10px;">
        Gender: 
        @if (Model.Gender==1)
        {
            <p>Male</p>
        }
        else
        {
            <p>Female</p>
        }

    </dt>

    <dt class="col-sm-6" style="padding-top:10px;">
        Designation: @Html.DisplayFor(model => model.Designation)
    </dt>

    <dt class="col-sm-6" style="padding-top:10px;">
        Date of Joining:  @Html.DisplayFor(model => model.DateOfJoining)
    </dt>


</dl>*@
@*@Html.DisplayFor(model => model.Gender)*@