@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.EmployeeViewModel>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 2px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 2px;
            color: whitesmoke;
        }

        tr:nth-child(even) {
            background-color: #e6f2ff;
        }

        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>
</head>



<body>
    <div style="padding-left:300px;">
        <h3 style="color:#000099"><u> <b>Employee List </b></u></h3>

        <div style="padding-left:650px;">
            <a asp-action="CreateEmployee" class="btn btn-success">Add New Employee</a>
            
        </div>
        <br />

        <table class="table" id="table" style="font-family: arial, sans-serif;border-collapse:collapse;width:100%;padding-top:15px;font-size:16px">
            <thead style="vertical-align:middle;">
            <tr>
                    <th style="background-color: #0000b3;">
                        Sl.No
                    </th>
                    <th style="background-color: #0000b3;">
                  Employee Code @*  @Html.DisplayNameFor(model => model.Id)*@
                </th>
                   @* <th style="background-color: #0000b3;">
                  Employee User ID  @Html.DisplayNameFor(model => model.EmpId)
                </th>*@
                    <th style="background-color: #0000b3;">
                 First Name  @* @Html.DisplayNameFor(model => model.FirstName)*@
                </th>
                    <th style="background-color: #0000b3;">
                 Last Name  @* @Html.DisplayNameFor(model => model.LastName)*@
                </th>
                    <th style="background-color: #0000b3;">
                  Email ID  @*@Html.DisplayNameFor(model => model.Email)*@
                </th>
                   @* <th style="background-color: #0000b3;">
                   Phone Number @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>*@
                    @*<th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.City)
                </th>
                    <th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.Gender)
                </th>*@
                    <th style="background-color: #0000b3;">
                        Department  @*@Html.DisplayNameFor(model => model.DeptId)*@
                    </th>
                    <th style="background-color: #0000b3;">
                  Designation  @*@Html.DisplayNameFor(model => model.Designation)*@
                </th>
                   @* <th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.DateOfJoining)
                </th>*@
                    <th style="background-color: #0000b3;">Action </th>
            </tr>
        </thead>
            <tbody style="vertical-align:middle;">
            @foreach (var item in Model)
            {
                    <tr >
                        <td style="padding-left:25px;">
                            &nbsp;
                        </td>

                        <td style="width:5%">
                        @Html.DisplayFor(modelItem => item.Emp.EmployeeCode)
                    </td>
                        @*<td style="padding-left:10px;">
                      Employee User ID  @Html.DisplayFor(modelItem => item.EmpId)
                    </td>*@
                        <td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                        <td style ="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                        <td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                       @* <td style="padding-left:10px;" >
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>*@
                        @*<td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                        <td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>*@
                        <td style="padding-left:10px;">
                            @Html.DisplayFor(modelItem => item.Dept.Name)
                        </td>
                        <td >
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                        @*<td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.DateOfJoining)
                    </td>*@
                        <td >
                           <div style="padding-left:10px;">
                                <a asp-action="EditEmployee" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                           </div>
                           <div style="padding-left:10px;">
                                <a asp-action="DetailsByEmployeeID" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                           </div>
                            

                       @* <a asp-action="EditEmployee" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DetailsByEmployeeID" asp-route-id="@item.Id">Details</a> |*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</body>



