@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.EmployeeViewModel>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 2px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 2px;
            color: whitesmoke;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }
        tr:nth-child(even) {
            background-color: #d9d9d9;
        }

        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>
</head>



<body style="overflow:auto;background-color:#e6e6ff">
    <div style="padding-left:225px;">
        <h4 style="color:#000066;padding-left:5px;"><u> <b>Existing Employee's List </b></u></h4>

       @* <div style="padding-left:650px;">
            <a asp-action="CreateEmployee" class="btn btn-success">Add New Employee</a>
            
        </div>
        <br />*@

        <table class="table" id="table" style="font-family: arial, sans-serif;border-collapse:collapse;width:100%;padding-top:25px;font-size:16px">
            <thead style="vertical-align:middle;">
            <tr>
                    <th style="background-color: #404040;text-align:center;">
                        Sl.No
                    </th>
                    <th style="background-color: #404040;width:2%;text-align:center;">
                  Employee Code @*  @Html.DisplayNameFor(model => model.Id)*@
                </th>
                   @* <th style="background-color: #0000b3;">
                  Employee User ID  @Html.DisplayNameFor(model => model.EmpId)
                </th>*@
                    <th style="background-color: #404040;width:11%;text-align:center;">
                 First Name  @* @Html.DisplayNameFor(model => model.FirstName)*@
                </th>
                    <th style="background-color: #404040;width:11%;text-align:center;">
                 Last Name  @* @Html.DisplayNameFor(model => model.LastName)*@
                </th>
                    <th style="background-color: #404040;text-align:center;">
                  Email ID  @*@Html.DisplayNameFor(model => model.Email)*@
                </th>
                   @* <th style="background-color: #0000b3;">
                   Phone Number @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>*@
                    @*<th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.City)
                </th>
                    <th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.Gender)
                </th>*@
                    <th style="background-color: #404040;text-align:center;">
                        Department  @*@Html.DisplayNameFor(model => model.DeptId)*@
                    </th>
                    <th style="background-color: #404040;text-align:center;">
                  Designation  @*@Html.DisplayNameFor(model => model.Designation)*@
                </th>
                   @* <th style="background-color: #0000b3;">
                    @Html.DisplayNameFor(model => model.DateOfJoining)
                </th>*@
                    <th style="background-color: #404040;text-align:center;">Action </th>
            </tr>
        </thead>
            <tbody style="vertical-align:middle;">
            @foreach (var item in Model)
            {
                    <tr style="vertical-align:middle;">
                        <td style="padding-left:15px;text-align:center">
                            &nbsp;
                        </td>

                        <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Emp.EmployeeCode)
                    </td>
                        @*<td style="padding-left:10px;">
                      Employee User ID  @Html.DisplayFor(modelItem => item.EmpId)
                    </td>*@
                        <td style="padding-left:10px;width:11%;text-align:center">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                        <td style="padding-left:10px;width:11%;text-align:center">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                        <td style="padding-left:10px;text-align:center">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                       @* <td style="padding-left:10px;" >
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>*@
                        @*<td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                        <td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>*@
                        <td style="padding-left:10px;text-align:center">
                            @Html.DisplayFor(modelItem => item.Dept.Name)
                        </td>
                        <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                        @*<td style="padding-left:10px;">
                        @Html.DisplayFor(modelItem => item.DateOfJoining)
                    </td>*@
                        <td >
                           <div >
                                <a asp-action="EditEmployee" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                           </div>
                           <div style="padding-top:5px;">
                                <a asp-action="DetailsByEmployeeID" asp-route-id="@item.Id" class="btn btn-info">View</a>
                           </div>
                            

                       @* <a asp-action="EditEmployee" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DetailsByEmployeeID" asp-route-id="@item.Id">Details</a> |*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</body>



