@model DRS.ExpenseManagementSystem.UI.Models.ExpenseClaim
@{
    ViewData["Title"] = "DetailsByClaimID";
}

<h1>DetailsByClaimID</h1>

<div style="padding-left:250px">
    <h3>Details</h3>

    <div style="padding-left:250px">
        <h4>PersonalClaim</h4>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FinanceManagerRemarks)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FinanceManagerRemarks)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FinanceManagerApprovedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FinanceManagerApprovedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
            </dt>*@

            @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFile)
            </dd>*@
        </dl>
    </div>
    <div>
        @* <a asp-action="DetailsByClaimID" asp-route-id="@Model?.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>*@
        <a asp-action="Index">Back to List</a>

    </div>
</div>