@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.ExpenseClaimViewModel>

<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 6px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 4px;
            color: whitesmoke;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        tr:nth-child(even) {
            background-color: #d9d9d9;
        }

        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>

</head>



<body style="overflow:auto;background-color:#e6e6ff">
<div style="padding-left:220px;">
    <h4 style="color:#000066"> <u> <b>Rejected Claims Lists </b>  </u> </h4>
    @*<div style="padding-left:800px;">
    <a asp-action="Create" type="button" class="btn btn-info">Create New</a>
    </div>*@
    <div style="padding-top:10px;">


        <table class="table" id="table" style="font-family: arial, sans-serif;border-collapse:collapse;width: 100%;">
            <thead style="vertical-align:middle;">
                <tr style="text-align:center;">
                    <th style="background-color: #404040;">
                        Sl.No
                    </th>
                    <th style="background-color: #404040;">
                        Employee ID
                    </th>
                    <th style="background-color: #404040;">
                        Project
                    </th>
                    <th style="background-color: #404040;">
                        Department
                    </th>
                    <th style="background-color: #404040;">
                        Claim Request Date
                    </th>
                    <th style="background-color: #404040;">
                        Amount
                    </th>
                    <th style="background-color: #404040;">
                        Status
                    </th>
                    <th style="background-color: #404040;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="vertical-align:middle;">
                        <td style="text-align:center;">
                            &nbsp;
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Emp.Emp.EmployeeCode)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Project.Title)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Dept.Name)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.ClaimRequestDate)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.StatusNavigation.Name)
                        <td style="text-align:center;">
                                <a asp-action="DetailsRejectedFM" asp-route-id="@item.Id" class="btn btn-info">View</a>
                                @*<a asp-action="DetailsByClaimID" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>*@
                                @* <a asp-action="AddExpenditures" asp-route-id="@item.Id"><i class="fa fa-plus" aria-hidden="true"></i></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

</body>

