@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.DepartmentViewModel>

    <head>

    @{
        ViewData["Title"] = "Index";
    }
    


        <style>
            td {
                border: 1px solid #000033;
                text-align: left;
                padding: 3px;
            padding-left: 30px;
            }

            th {
                border: 1px solid #000033;
                text-align: center;
                padding: 4px;
                color: whitesmoke;
                
            }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }
            tr:nth-child(even) {
            background-color: #d9d9d9;
            }

        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
        </style>


    </head>
<body style="overflow:auto;background-color:#e6e6ff">
        <div style="padding-left:275px;">
        <h4 style="color:#000066"><u> <b>Department List </b></u></h4>

        <div style="padding-left:475px;">
            <a asp-action="CreateDepartment" class="btn btn-success" style="background-color:#008000;">Create New Department</a>
          @*  <button class="btn btn-primary" data-target="#CreateDepartment" data-toggle="modal">Add Department</button>*@
        </div>
        <br />
        <table class="table" id="table" style="font-family: arial, sans-serif;border-collapse:collapse;width:80%;padding-top:25px;font-size:16px">
            <thead style="vertical-align:central">
                <tr>
                    <th style="background-color: #404040;">
                        Sl.No
                    </th>
                  @*  <th style="background-color: #0000b3;">
                        ID
                    </th>*@
                    <th style="background-color: #404040;">
                        Department Name
                    </th>
                    <th style="background-color: #404040;">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="vertical-align:middle;">
                    
                        <td style="padding-left:25px;" width="10%">
                            &nbsp;
                        </td>
                     @*   <td style="padding-left:20px;">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td style="padding-left:30px;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="padding-left:30px;">
                            <a asp-action="EditDepartment" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="DetailsByDepartmentID" asp-route-id="@item.Id" class="btn btn-info">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       


        
       

    </div>
</body>



@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}






