@model DRS.ExpenseManagementSystem.UI.Models.ExpenseClaimViewModel
<html>
<head>
    @{
        ViewData["Title"] = "Approved by Manager";
    }


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>

        td {
            border: 1px solid #000033;
            text-align: left;
            /* padding: 2px;*/
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            /* padding: 2px;*/
            color: whitesmoke;
        }



        tr:nth-child(even) {
            background-color: #e6f2ff;
        }

        /* Set the serial number counter to 0 */
        #Expense {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #Expense td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }

    </style>
</head>
<body>
    <h5 style="padding-left:230px;"><u><b>Detailed Claim</b></u></h5>
    <br />
    <div class="row">
        <div class="col-md-12" style="padding-left:250px;">
            <form asp-route="/ExpenseClaim/EditByManager/@Model.Id" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" style="display:none" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="EmpId" class="form-label input-lable"><b>Employee Code:</b></label>
                            <select asp-for="EmpId" asp-items="ViewBag.userList" class="form-control Selectinput" id="Employee" readonly>
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="DeptId" class="form-label input-lable"><b>Department</b></label>
                            <select asp-for="DeptId" asp-items="ViewBag.departmentList" class="form-control Selectinput" id="Department" readonly>
                                <option value="">-- Select --</option>
                            </select>
                        </div>

                    </div>

                   
                </div>

              

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Expense Start Date</b></label>
                            <input type="datetime" asp-for="StartDate" class="form-control" readonly />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Expense End Date</b></label>
                            <input type="datetime" asp-for="EndDate" class="form-control" readonly />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Claim Date</b></label>
                            <input type="datetime" asp-for="ClaimRequestDate" class="form-control" readonly />
                            <span asp-validation-for="ClaimRequestDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="ProjectId" class="form-label input-lable"><b>Project</b></label>
                            <select asp-for="ProjectId" asp-items="ViewBag.projectList" class="form-control Selectinput" id="Project" readonly>
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label><b>Total Expenditure</b></label>
                            <input asp-for="TotalAmount" class="form-control" id="ttlamnt" readonly />
                            @*<span class="form-control" id="ttlamnt"></span>*@
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><b>Date of Approval</b></label>
                            <input type="datetime" asp-for="ManagerApprovedOn" class="form-control" readonly />
                            <span asp-validation-for="ManagerApprovedOn" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-8">
                    <div class="form-group">
                        <label><b>Manager Remarks</b></label>
                        <input asp-for="ManagerRemarks" class="form-control" readonly />
                        <span asp-validation-for="ManagerRemarks" class="text-danger"></span>
                    </div>
                    </div>
                </div>
               

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Status" class="form-label input-lable"><b>Claim Status</b></label>
                        <select asp-for="Status" asp-items="ViewBag.statusList" class="form-control Selectinput" id="Status" readonly">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6 style="color:navy"> <b> <u> Individual Expenditure Details</u> </b> </h6>
                        </div>
                    </div>
                </div>


                <table id="Expense" class="table" style="font-family: arial, sans-serif;border-collapse:collapse;width:70%;padding-top:10px;font-size:16px">

                    <tr>
                        <th style="background-color: #0000b3;vertical-align:central;"> <label>Sl.No</label> </th>
                        <th style="background-color: #0000b3;vertical-align:central;"> <label><b>Expenditure Date</b></label> </th>
                        <th style="background-color: #0000b3;vertical-align:central;"> <label><b>Description</b></label>      </th>
                        <th style="background-color: #0000b3;vertical-align:central;"> <label><b>Category</b></label>         </th>
                        <th style="background-color: #0000b3;vertical-align:central;">  <label><b>Expense Category</b></label> </th>
                        <th style="background-color: #0000b3;vertical-align:central;"> <label><b>Amount</b></label>           </th>
                        <th style="background-color: #0000b3;vertical-align:central;"> <label><b>Comments</b></label>         </th>
                        <th style="background-color: #0000b3;vertical-align:central;"> <label><b>Receipt Number</b></label>   </th>
                        <th style="background-color: #0000b3;vertical-align:central;"> <label><b>Upload</b></label>           </th>
                    </tr>
                    <tbody id="ExpenseBody">
                        @for (var exp = 0; exp < Model.IndividualExpenditures.Count; exp++)
                        {

                            <input asp-for="@Model.IndividualExpenditures[exp].Id" class="form-control" style="display:none" />
                            <input asp-for="@Model.IndividualExpenditures[exp].IsApproved" class="form-control" style="display:none" />

                            <tr>
                                <td style="text-align:center;">
                                    &nbsp;
                                </td>
                                <td>
                                    <input type="datetime" asp-for="@Model.IndividualExpenditures[exp].ExpenditureDate" class="form-control" readonly />
                                    <span asp-validation-for="@Model.IndividualExpenditures[exp].ExpenditureDate" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.IndividualExpenditures[exp].Description" class="form-control" readonly />
                                    <span asp-validation-for="@Model.IndividualExpenditures[exp].Description" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.IndividualExpenditures[exp].Category" class="form-control" readonly />
                                    <span asp-validation-for="@Model.IndividualExpenditures[exp].Category" class="text-danger"></span>
                                </td>
                                <td>
                                    <select asp-for="@Model.IndividualExpenditures[exp].ExpenseCategoryId" asp-items="ViewBag.categoryList" class="form-control Selectinput" id="ExpenseCategory" readonly>
                                        <option value="">-- Select --</option>
                                    </select>
                                </td>
                                <td>
                                    <input asp-for="@Model.IndividualExpenditures[exp].Amount" class="form-control txt" id="amnt" readonly />
                                    <span asp-validation-for="@Model.IndividualExpenditures[exp].Amount" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.IndividualExpenditures[exp].Comments" class="form-control" readonly />
                                    <span asp-validation-for="@Model.IndividualExpenditures[exp].Comments" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.IndividualExpenditures[exp].ReceiptNumber" class="form-control" readonly />
                                    <span asp-validation-for="@Model.IndividualExpenditures[exp].ReceiptNumber" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.IndividualExpenditures[exp].ExpenseProof" class="form-control expenseproof" type="file" name="ExpenseProof" accept="image/*" readonly />
                                    <span asp-validation-for="@Model.IndividualExpenditures[exp].ExpenseProof" class="text-danger"></span>
                                    <input asp-for="@Model.IndividualExpenditures[exp].AttachmentPath" class="form-control chosenfilename" style="display:none" />
                                </td>
                                <td>
                                    <img src="/ExpenseProof/@Model.IndividualExpenditures[exp].AttachmentPath" width="100" height="100" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*<input type="button" id="addRowBtn" value="Add New" name="Add New" />*@

                <br />
                <div class="form-group" style="padding-left:600px;">
                    @*<input type="submit" value="Save" class="btn btn-success" />*@
                    <a asp-action="IndexApprovedByManager" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script>

    // to add new rows in table
    var tablePosition = 1;
    var tableDom = `&lt;tr&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;datetime-local&quot; data-val=&quot;true&quot; data-val-required=&quot;The ExpenditureDate field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__ExpenditureDate&quot; name=&quot;IndividualExpenditures[${tablePosition}].ExpenditureDate&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].ExpenditureDate&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The Description field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__Description&quot; name=&quot;IndividualExpenditures[${tablePosition}].Description&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].Description&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The Category field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__Category&quot; name=&quot;IndividualExpenditures[${tablePosition}].Category&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].Category&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;select class=&quot;form-control Selectinput&quot; id=&quot;ExpenseCategory&quot; required=&quot;&quot; data-val=&quot;true&quot; data-val-required=&quot;The ExpenseCategoryId field is required.&quot; name=&quot;IndividualExpenditures[${tablePosition}].ExpenseCategoryId&quot;&gt; &lt;option value=&quot;&quot;&gt;-- Select --&lt;/option&gt; &lt;option value=&quot;1&quot;&gt;Internet and Telecom&lt;/option&gt; &lt;option value=&quot;2&quot;&gt;Travel to Client Site&lt;/option&gt; &lt;option value=&quot;3&quot;&gt;Food&lt;/option&gt; &lt;option value=&quot;4&quot;&gt;Test Record 1&lt;/option&gt; &lt;option value=&quot;5&quot;&gt;Travel&lt;/option&gt; &lt;option value=&quot;6&quot;&gt;Test 5&lt;/option&gt; &lt;/select&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control txt&quot; id=&quot;amnt&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-number=&quot;The field Amount must be a number.&quot; data-val-required=&quot;The Amount field is required.&quot; name=&quot;IndividualExpenditures[${tablePosition}].Amount&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].Amount&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The Comments field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__Comments&quot; name=&quot;IndividualExpenditures[${tablePosition}].Comments&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].Comments&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The ReceiptNumber field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__ReceiptNumber&quot; name=&quot;IndividualExpenditures[${tablePosition}].ReceiptNumber&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].ReceiptNumber&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control expenseproof&quot; type=&quot;file&quot; name=&quot;ExpenseProof&quot; accept=&quot;image/*&quot; required=&quot;&quot; data-val=&quot;true&quot; data-val-required=&quot;The ExpenseProof field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__ExpenseProof&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].ExpenseProof&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;input class=&quot;form-control chosenfilename&quot; style=&quot;display:none&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The AttachmentPath field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__AttachmentPath&quot; name=&quot;IndividualExpenditures[${tablePosition}].AttachmentPath&quot; value=&quot;&quot;&gt; &lt;/td&gt; &lt;/tr&gt;`
    $(document).ready(function () {

        InitializeKeyUp();

        $(".btn-success").click(function () {

            $(".expenseproof").each(function () {

                $(this).siblings('.chosenfilename').val($(this)[0].files[0].name);
            });


        });

        function InitializeKeyUp() {
            //iterate through each textboxes and add keyup
            //handler to trigger sum event
            $(".txt").each(function () {
                $(this).keyup(function () {
                    calculateSum();
                });
            });
        }

        function calculateSum() {

            var sum = 0;
            //iterate through each textboxes and add the values
            $(".txt").each(function () {

                //add only if the value is number
                if (!isNaN(this.value) && this.value.length != 0) {
                    sum += parseFloat(this.value);
                }
            });
            $("#ttlamnt").val(sum);
        }
    });

    // insert new rows
    document.getElementById("addRowBtn").addEventListener("click", function () {
        var tbody = document.getElementById("ExpenseBody");
        tbody.insertAdjacentHTML('beforeend', htmlDecode(tableDom));
        InitializeKeyUp();
        tablePosition++;
    });


    function InitializeKeyUp() {
        //iterate through each textboxes and add keyup
        //handler to trigger sum event
        $(".txt").each(function () {
            $(this).keyup(function () {
                calculateSum();
            });
        });
    }

    function calculateSum() {

        var sum = 0;
        //iterate through each textboxes and add the values
        $(".txt").each(function () {

            //add only if the value is number
            if (!isNaN(this.value) && this.value.length != 0) {
                sum += parseFloat(this.value);
            }
        });
        $("#ttlamnt").val(sum);
    }

    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }

    function DateCheck() {

        $('#startDate').datepicker({
            onSelect: function (dateText, inst) {
                $('#endDate').datepicker('option', 'minDate', new Date(dateText));
            }
        });
        $('#endDate').datepicker({
            onSelect: function (dateText, inst) {
                $('#startDate').datepicker('option', 'maxDate', new Date(dateText));
            }
        });
    }

</script>
