@model DRS.ExpenseManagementSystem.UI.Models.User

@{
    ViewData["Title"] = "Details";
}



<div style="padding-left:200px;">
  
    
        <h3 style="color:#000099"> <u> <b>User Details </b></u>  </h3>
        <br />

    <dl class="row">

        <dt class="col-sm-6">
            ID  :&nbsp; @Html.DisplayFor(model => model.Id)
        </dt>
       
        <dt class="col-sm-6">
            Employee Code: &nbsp; @Html.DisplayFor(model => model.EmployeeCode)
        </dt>
        
     @*   <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
        </dd>*@
        <br />
        <dt class="col-sm-6">
            Role :&nbsp;  @Html.DisplayFor(model => model.Role)
        </dt>
       <br />
        <dt class="col-sm-6">
            IsAccountLocked:&nbsp;  @Html.DisplayFor(model => model.IsAccountLocked)
        </dt>
       <br />
        <dt class="col-sm-6">
            IsActive:&nbsp;   @Html.DisplayFor(model => model.IsActive)
        </dt>
       
    </dl>
</div>
<div style="padding-left:800px;">
    <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
</div>
