@model DRS.ExpenseManagementSystem.UI.Models.User

@{
    ViewData["Title"] = "Details";
}



<div style="padding-left:300px;">
  
    
        <h3 style="color:#000099"> <u> <b>User Details </b></u>  </h3>
        <br />

    <dl class="row">

        <dt class="col-md-10" style="padding-top:10px;">
            ID  :&nbsp; @Html.DisplayFor(model => model.Id)
        </dt>
       
        <dt class="col-md-10" style="padding-top:10px;">
            Employee Code: &nbsp; @Html.DisplayFor(model => model.EmployeeCode)
        </dt>
        
     @*   <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
        </dd>*@
      
        <dt class="col-md-10" style="padding-top:10px;">
            Role : @Html.DisplayFor(model => model.Role)
        </dt>
       
        <dt class="col-md-10" style="padding-top:10px;">
            @*@Html.DisplayFor(model => model.IsAccountLocked)*@
          Account Locked:&nbsp; @if (Model.IsAccountLocked==true)
                                {
                                    <p>Yes</p>
                                }
                                else
                                {
                                    <p>No</p>
                                }
        </dt>
      
        <dt class="col-md-10" style="padding-top:10px;">
              @*@Html.DisplayFor(model => model.IsActive)*@
            Active Employee:&nbsp;   @if (Model.IsActive==true)
                                        {
                                            <p>Yes</p>
                                        }
                                        else
                                        {
                                            <p>No</p>
                                        }
        </dt>
       
    </dl>
</div>
<div style="padding-left:800px;">
    <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
</div>
