@model DRS.ExpenseManagementSystem.UI.Models.UserViewModel

@{
    ViewData["Title"] = "Details";
}



<div style="padding-left:275px;">
  
    
        <h5 style="color:#000099"> <u> <b>User Details </b></u>  </h5>
        <br />
    <div class="row" style="padding-top:5px;">
        <div class="col-md-4">
            <div class="form-group">
                <b>   <label asp-for="EmployeeCode" class="control-label">Employee Code</label></b>
                <input asp-for="EmployeeCode" class="form-control" disabled/>
                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
            </div>
        </div>

       @* <div class="col-md-4">
            <div class="form-group">
                <b>   <label asp-for="Password" class="control-label">Password</label></b>
                <input asp-for="Password" class="form-control" value="@Model.Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>*@
    </div>

    <div class="col-md-2" style="padding-top:5px;">
        <div class="form-group">
            <b>  <label asp-for="Role" class="control-label"> Role </label></b>
            <input asp-for="Role" class="form-control" required disabled />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>

    <div class="row" style="padding-top:5px;">
        <div class="col-md-3">
            <div class="form-group">
                <b>  <label asp-for="IsAccountLocked" class="control-label">Account Locked Status </label></b>
                <select asp-for="IsAccountLocked" class="form-control" disabled>
                    <option value="">-- Select --</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="IsAccountLocked" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3" style="padding-left:10px;">
            <div class="form-group">
                <b>  <label asp-for="IsActive" class="control-label"> Active Employee</label></b>
                <select asp-for="IsActive" class="form-control" disabled>
                    <option value="">-- Select --</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>




   
</div>
<br />
<div style="padding-left:600px;">
    <a asp-action="Index" class="btn  btn btn-secondary">Back to List</a>
    <a asp-action="EditUser" asp-route-id="@Model.Id" class="btn btn btn-success"> Edit User Details</a>
</div>


@*<dl class="row">

    <dt class="col-md-10" style="padding-top:10px;">
        ID  :&nbsp; @Html.DisplayFor(model => model.Id)
    </dt>

    <dt class="col-md-10" style="padding-top:10px;">
        Employee Code: &nbsp; @Html.DisplayFor(model => model.EmployeeCode)
    </dt>

   

    <dt class="col-md-10" style="padding-top:10px;">
        Role : @Html.DisplayFor(model => model.Role)
    </dt>

    <dt class="col-md-10" style="padding-top:10px;">
      
        Account Locked:&nbsp; @if (Model.IsAccountLocked==true)
        {
            <p>Yes</p>
        }
        else
        {
            <p>No</p>
        }
    </dt>

    <dt class="col-md-10" style="padding-top:10px;">
       
        Active Employee:&nbsp;   @if (Model.IsActive==true)
        {
            <p>Yes</p>
        }
        else
        {
            <p>No</p>
        }
    </dt>
*@
</dl>