@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.UserViewModel>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            padding: 2px;
            padding-left: 30px;
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            padding: 2px;
            color: whitesmoke;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        tr:nth-child(even) {
            background-color: #d9d9d9;
        }


        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>

</head>


<body style="padding-bottom:15px;overflow:auto;background-color:#e6e6ff;">
    <div style="padding-left:275px;">
        <h4 style="color:#000066"><u> <b>Existing Users List </b></u></h4>

        <div style="padding-left:700px;">
            <a asp-action="Index" a class="btn btn-warning" style="background-color:#008000;">Active Users</a>
            @*  <button class="btn btn-primary" data-target="#CreateDepartment" data-toggle="modal">Add Department</button>*@
        </div>
        <div style="padding-top:10px;">
            <table class="table" id="table" style="font-family: arial, sans-serif;border-collapse:collapse;width:100%;padding-top:25px;font-size:16px;">
                <thead style="vertical-align:middle;text-align:center;">
                    <tr style="text-align:center;">
                        <th style="background-color: #404040;padding-left:6px;">
                            Sl.No
                        </th>
                        @*<th style="background-color: #0000b3;">
                        ID
                        </th>*@
                        <th style="background-color: #404040;">
                            Employee Code @*@Html.DisplayNameFor(model => model.EmployeeCode)*@
                        </th>
                        @* <th style="background-color: #0000b3;">
                        @Html.DisplayNameFor(model => model.Password)
                        </th>*@
                        <th style="background-color: #404040;">
                            @Html.DisplayNameFor(model => model.Role)
                        </th>
                        <th style="background-color: #404040;">
                            Account Locked @*@Html.DisplayNameFor(model => model.IsAccountLocked)*@
                        </th>
                        <th style="background-color: #404040;">
                            Active Employee @*@Html.DisplayNameFor(model => model.IsActive)*@
                        </th>
                        <th style="background-color: #404040;">Action </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="vertical-align:middle;">
                            <td style="text-align:center;padding-left:15px;">
                                &nbsp;
                            </td>
                            @* <td style="padding-left:10px;vertical-align:central; text-align:center;">
                        @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                            <td style="text-align:center;">
                                @Html.DisplayFor(modelItem => item.EmployeeCode)
                            </td>
                            @*  <td style="padding-left:20px;">
                        @Html.DisplayFor(modelItem => item.Password)
                        </td>*@
                            <td style="text-align:center;vertical-align:middle;padding-top:24px;">
                                @*  @Html.DisplayFor(modelItem => item.Role)*@
                                @if (item.Role == 1)
                                {
                                    <p>User</p>
                                }
                                else if (item.Role == 2)
                                {
                                    <p>Manager</p>
                                }
                                else if (item.Role == 3)
                                {
                                    <p>Finance Manager</p>

                                }
                                else
                                {
                                    <p>Super Admin</p>
                                }
                            </td>
                            <td style="text-align:center;padding-top:24px;">
                                @*@Html.DisplayFor(modelItem => item.IsAccountLocked)*@
                                @if (item.IsAccountLocked == true)
                                {
                                    <p style="color:red"> <b>Yes </b></p>
                                }
                                else
                                {
                                    <p style="color:darkgreen"> <b>No </b></p>
                                }
                            </td>
                            <td style="text-align:center;padding-top:24px;">
                                @*@Html.DisplayFor(modelItem => item.IsActive)*@
                                @if (item.IsActive == true)
                                {
                                    <p style="color:darkgreen"> <b>Yes </b></p>
                                }
                                else
                                {
                                    <p style="color:red"> <b>No </b></p>
                                }
                            </td>
                            <td style="text-align:center;">
                                @* <a asp-action="EditUser" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="DetailsByUserID" asp-route-id="@item.Id">Details</a> |*@

                                <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="DetailsByUserID" asp-route-id="@item.Id" class="btn btn-info">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</body>


@*<p>
    <a asp-action="Create">Create New User</a>
</p>*@




