@model DRS.ExpenseManagementSystem.UI.Models.ExpenseClaimViewModel


<head>

    @{
        ViewData["Title"] = "Create";
    }
    @*  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@
    <style>
        /* padding: 2px;*/
        /* td {
            border: 1px solid #0d0d0d;
            border-bottom: 1px solid #0d0d0d;
                    border-collapse: collapse;
                    text-align: left;

                }*/

                th {
          /*  border: 1px solid #0d0d0d;
            border-bottom: 1px solid #0d0d0d;
                  */
                    text-align: center;

                    color: whitesmoke;
                }
        /* padding: 2px;*/


        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        tr:nth-child(even) {
            background-color: #d9d9d9;
        }

        /* Set the serial number counter to 0 */
        #IndividualExpenditure {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #IndividualExpenditure td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }

    </style>

</head>
@*enctype="multipart/form-data"*@
<body style="overflow:auto;background-color:#e6e6ff">
    <h4 style="padding-left:200px;color:#000066;"><u><b>Create New Claim</b></u></h4>
<br />
<div class="row">
    <div class="col-md-12" style="padding-left:220px;">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label><b>Employee Code</b></label>
                        <input class="form-control-plaintext" placeholder="@TempData["EmployeeCode"]" style="font-weight:700;font-size:18px;color:black" readonly />
                    </div>
                </div>

                <div class="col-md-8" style="padding-left:10px;">
                    <span class="form-group">
                        <label><b>Department</b></label>
                        <input class="form-control-plaintext" placeholder="@TempData["Department"]" style="font-weight:700;font-size:18px;color:black" readonly />
                    </span>
                </div>
            </div>

            <div class="row">

                    <div class="col-md-7">
                        <div class="form-group">
                            @*<label asp-for="ProjectId" class="form-label input-lable"><b>Project Detail/ Title</b><span style="color:red;">*</span></label>*@
                            <label asp-for="ProjectId" class="form-label"><b>Project Detail/ Title</b><span style="color:red;">*</span></label>
                            <select asp-for="ProjectId" asp-items="ViewBag.projectList" class="form-control Selectinput" id="Project" required>
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>

               

                <div class="col-md-3">
                    <div class="form-group">
                        <label><b>Claim Request Date</b></label>
                        @*<label asp-for="ClaimRequestDate" class="form-label input-lable"><b>Claim Requested Date</b></label>*@
                        <input type="date" asp-for="ClaimRequestDate" class="form-control-plaintext" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><b>Expense Start Date</b><span style="color:red;">*</span></label>
                            @{
                                DateTime maxDate = DateTime.Now;
                                string maxDateString = maxDate.ToString("yyyy-MM-dd");
                            }
                            <input type="date" asp-for="StartDate" class="form-control" id="startDate" max="@maxDateString" required />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label><b>Expense End Date</b><span style="color:red;">*</span></label>
                            @{
                                DateTime maxEndDate = DateTime.Now;
                                string maxEndDateString = maxDate.ToString("yyyy-MM-dd");
                            }
                            <input type="date" asp-for="EndDate" class="form-control" id="endDate" max="@maxEndDateString" required />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>

                 <div class="col-md-3">
                    <div class="form-group">
                    <b> <label>Total Amount (<span>&#8377;</span>) </label> </b>
                    <input asp-for="TotalAmount" class="form-control" id="ttlamnt" readonly />
                    @*<span class="form-control" id="ttlamnt"></span>*@
                     <span asp-validation-for="TotalAmount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                            <h5 style="color:#000066;"> <b> Expenditure Details </b> </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                    <table class="table table-bordered" id='IndividualExpenditure' style="font-family: arial, sans-serif;border-collapse:collapse;width:100%;padding-top:25px;font-size:16px">
                        <thead style="vertical-align:middle">
                        <tr>
                                <th style="background-color: #404040;"> <label>Sl.No</label> </th>
                                <th style="background-color: #404040;"> <label>Expenditure Date</label> </th>
                                <th style="background-color:#404040;"> <label>Description</label></th>
                                <th style="background-color: #404040;"> <label>Category</label></th>
                                <th style="background-color: #404040;"> <label>Expense Category</label> </th>
                                <th style="background-color: #404040;"> <label>Amount (<span>&#8377;</span>)</label></th>
                                <th style="background-color: #404040;"> <label>Comments</label></th>
                                <th style="background-color: #404040;"> <label>Receipt Number</label></th>
                                <th style="background-color: #404040;"> <label>Attachemnts</label></th>
                                <th style="background-color: #404040;"> <label>Actions</label></th>
                            @*  <th style="background-color: #0000b3;"> <label><b>Image</b><span style="color:red;">*</span></label>           </th>*@
                        </tr>
                    </thead>
                    <tbody id="individual">
                        @for (int i = 0; i < Model.IndividualExpenditures.Count; i++)
                        {
                                <tr style="vertical-align:middle;">
                                    <td style="text-align:center;padding-left:18px;">
                                    &nbsp;
                                </td>
                                    <td style="text-align:center">
                                    @Html.EditorFor(k =>k.IndividualExpenditures[i].ExpenditureDate, new{htmlAttributes= new {@class ="form-control expDate",Type="date"}})
                                </td>

                                    <td style="text-align:center">
                                    @Html.EditorFor(k =>k.IndividualExpenditures[i].Description, new{htmlAttributes= new {@class ="form-control"}})
                                </td>
                                    <td style="text-align:center">
                                    @*<input asp-for="@Model.IndividualExpenditures[i].Category" class="form-control" required />*@
                                    <select asp-for="@Model.IndividualExpenditures[i].Category" class="form-control" required>
                                        <option value="">Select</option>
                                        <option value="Official">Official</option>
                                        <option value="Personal">Personal</option>
                                    </select>
                                    <span asp-validation-for="@Model.IndividualExpenditures[i].Category" class="text-danger"></span>
                                </td>
                                @*<td>
                                    @Html.EditorFor(k =>k.IndividualExpenditures[i].Category, new{htmlAttributes= new {@class ="form-control"}})
                                </td>*@
                                    <td style="text-align:center">
                                    <select asp-for="@Model.IndividualExpenditures[i].ExpenseCategoryId" asp-items="ViewBag.categoryList" class="form-control Selectinput" id="ExpenseCategory" required>
                                        <option value="">Select</option>
                                    </select>
                                </td>

                                    <td style="text-align:center">
                                    @Html.EditorFor(k =>k.IndividualExpenditures[i].Amount, new{htmlAttributes= new {@class ="form-control txt"}})
                                </td>


                                    <td style="text-align:center">
                                    @Html.EditorFor(k =>k.IndividualExpenditures[i].Comments, new{htmlAttributes= new {@class ="form-control"}})
                                </td>

                                    <td style="text-align:center">
                                    @Html.EditorFor(k =>k.IndividualExpenditures[i].ReceiptNumber, new{htmlAttributes= new {@class ="form-control"}})
                                </td>

                                    <td style="text-align:center">
                                    <input asp-for="@Model.IndividualExpenditures[i].ExpenseProof" class="form-control expenseproof" type="file" name="ExpenseProof" accept="image/*" />
                                    <span asp-validation-for="@Model.IndividualExpenditures[i].ExpenseProof" class="text-danger"></span>
                                    <input asp-for="@Model.IndividualExpenditures[i].AttachmentPath" class="form-control chosenfilename" style="display:none" />
                                    
                                    <td style="text-align:center">


                                    <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger visible"
                                            onclick="DeleteItem(this);">
                                        Delete
                                    </button>
                                </td>


                            </tr>
                        }

                    </tbody>

                </table>




                <br />
                    <button id='btnAddDetailRow' type="button" class="btn btn-sm btn-secondary visible" style="background-color:#008000;" onclick="AddItem(this)">
                    Add Expenditure
                </button>
                <div class="form-group" style="padding-left:720px;">
                   
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success" style="background-color:#008000;" />
                </div>
                <input type="hidden" id='hdnLastIndex' value="0" />
            </div>

        </form>
        @*  <input type="button" id="addRowBtn" value="Add New" name="Add New" />*@


    </div>



</div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        var startDateInput = document.getElementById("startDate");
        var endDateInput = document.getElementById("endDate");

        $(document).ready(function () {
            InitializeKeyUp();

            $(".btn-success").click(function () {

                $(".expenseproof").each(function () {

                    $(this).siblings('.chosenfilename').val($(this)[0].files[0].name);
                });
            });

            function InitializeKeyUp() {
                $(".txt").each(function () {
                    $(this).keyup(function () {
                        calculateSum();
                    });
                });
            }

            function calculateSum() {
                var sum = 0;
                $(".txt").each(function () {
                    if (!isNaN(this.value) && this.value.length != 0) {
                        sum += parseFloat(this.value);
                    }
                });
                $("#ttlamnt").val(sum);
            }

            $(document).on("change", ".expDate", function () {
                $(".expDate").each(function () {
                    var selectedDate = Date.parse($(this).val());
                    var startDate = Date.parse(startDateInput.value);
                    var endDate = Date.parse(endDateInput.value);

                    if (selectedDate < startDate || selectedDate > endDate) {
                        alert("EXPENDITURE DATE SHOULD BE BETWEEN START DATE AND END DATE");
                        $(this).val("");
                    }
                });
            });
        });



        function AddItem(btn) {

            var table = document.getElementById('IndividualExpenditure');
            var rows = table.getElementsByTagName('tr');

            if (rows.length == 1) {
                $(document).ready(function () {
                    location.reload(true);
                });
            }
            var lastrowIdx = rows.length - 1;

            var rowOuterHtml = rows[lastrowIdx].outerHTML;
            lastrowIdx = lastrowIdx - 1;

            var nextrowIdx = eval(lastrowIdx) + 1;

            // document.getElementById('hdnLastIndex').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;
            InitializeKeyUp();


        }


        function InitializeKeyUp() {
            //iterate through each textboxes and add keyup
            //handler to trigger sum event
            $(".txt").each(function () {
                $(this).keyup(function () {
                    calculateSum();
                });
            });
        }

        //calculate sum
        function calculateSum() {

            var sum = 0;
            //iterate through each textboxes and add the values
            $(".txt").each(function () {

                //add only if the value is number
                if (!isNaN(this.value) && this.value.length != 0) {
                    sum += parseFloat(this.value);
                }
            });
            $("#ttlamnt").val(sum);
        }

        //date ranges

        var startDateInput = document.getElementById("startDate");
        var endDateInput = document.getElementById("endDate");

        startDateInput.addEventListener("change", function () {
            endDateInput.min = startDateInput.value;
        });

        endDateInput.addEventListener("change", function () {
            startDateInput.max = endDateInput.value;
        });

        $(".expDate").change(function () {
            if (Date.parse(($(".expDate")).val()) < Date.parse(startDateInput.value) || Date.parse(($(".expDate")).val()) > Date.parse(endDateInput.value)) {
                alert("EXPENDITURE DATE SHOULD BE BETWEEN START DATE AND END DATE");
                $(".expDate").val("");
            }
        });




        function DeleteItem(btn) {
            $(btn).closest('tr').remove();

            calculateSum();
        }

        

        //$(document).on("click", "#btnremove-", function () {
        //    $(this).closest("tr").remove();

        //});

    </script>

}

