@model DRS.ExpenseManagementSystem.UI.Models.ExpenseClaim
@{
    ViewData["Title"] = "DetailsByClaimID";
}

<h1>DetailsByClaimID</h1>

<div style="padding-left:250px"> 
        <h3>Details</h3>

    <div style="padding-left:250px">
            <h4>PersonalClaim</h4>
           
            <dl class="row">
               
                <dd class = "col-sm-10">
                  Claim ID :  @Html.DisplayFor(model => model.Id)
                </dd>
               
                <dd class = "col-sm-10">
                  EMP ID :  @Html.DisplayFor(model => model.DeptId)
                </dd>
               
                <dd class = "col-sm-10">
                  Start Date :  @Html.DisplayFor(model => model.StartDate)
                </dd>
               
                <dd class = "col-sm-10">
                  End Date :  @Html.DisplayFor(model => model.EndDate)
                </dd>

                    <dd class="col-sm-10">
                        Project Title :  @Html.DisplayFor(model => model.EndDate)
                    </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
               
             
            </dl>

       
       @* <a asp-action="DetailsByClaimID" asp-route-id="@Model?.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>*@
        <a asp-action="Index">Back to List</a>
            
        </div>
</div>