@model DRS.ExpenseManagementSystem.UI.Models.ExpenseClaimViewModel
<head>
    @{
        ViewData["Title"] = "DetailsByClaimID";
    }
    <style>
        td {
            border: 1px solid #000033;
            text-align: left;
            /* padding: 2px;*/
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            /* padding: 2px;*/
            color: whitesmoke;
        }



        tr:nth-child(even) {
            background-color: #e6f2ff;
        }

        /* Set the serial number counter to 0 */
        #Expense {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #Expense td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>

</head>


<body>
    <div style="padding-left:140px">

        <div>
            <h4> <b><u>Expense Claim Details </u></b> </h4>

            <dl class="row">



                <dt class="col-sm-5">
                    EMP ID :  @Html.DisplayFor(model => model.EmpId)
                </dt>
                <dt class="col-sm-5">
                    Claim ID :  @Html.DisplayFor(model => model.Id)
                </dt>

                <dt class="col-sm-5">
                    Start Date :  @Html.DisplayFor(model => model.StartDate)
                </dt>

                <dt class="col-sm-5">
                    End Date :  @Html.DisplayFor(model => model.EndDate)
                </dt>

                <dt class="col-sm-5">
                    Project Title :  @Html.DisplayFor(model => model.ProjectId)
                </dt>
                <dt class="col-sm-5">
                    Claim request Date: @Html.DisplayFor(model => model.ClaimRequestDate)
                </dt>
                <dt class="col-sm-5">
                    Status: @Html.DisplayFor(model => model.Status)
                </dt>
                <dt class="col-sm-5">
                    Total Amount: @Html.DisplayFor(model => model.TotalAmount)
                </dt>

            </dl>
            <table id="Expense" style="font-family: arial, sans-serif;border-collapse:collapse;width:105%;padding-top:5px;">

                <thead>
                    <tr>
                        <th style="background-color: #0000b3;"> <label><b>Sl.No </b></label>   </th>
                        <th style="background-color: #0000b3;"><label><b>Expenditure Date</b></label></th>
                        <th style="background-color: #0000b3;"><label><b>Description</b></label></th>
                        <th style="background-color: #0000b3;"><label><b>Category</b></label></th>
                        <th style="background-color: #0000b3;"><label><b>Expense Category</b></label></th>
                        <th style="background-color: #0000b3;"><label><b>Amount</b></label></th>
                        <th style="background-color: #0000b3;"><label><b>Comments</b></label></th>
                        <th style="background-color: #0000b3;"><label><b>Receipt Number</b></label></th>
                        <th style="background-color: #0000b3;"><label><b>Attachments</b></label></th>
                        <th style="background-color: #0000b3;"><label><b>IsApproved</b></label></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var individualExpenditure in Model.IndividualExpenditures)
                    {
                        <tr>
                            <td>
                                &nbsp;

                            </td>
                            <td>@individualExpenditure.ExpenditureDate</td>
                            <td>@individualExpenditure.Description</td>
                            <td>@individualExpenditure.Category</td>
                            <td>@individualExpenditure.ExpenseCategoryId</td>
                            <td>@individualExpenditure.Amount</td>
                            <td>@individualExpenditure.Comments</td>
                            <td>@individualExpenditure.ReceiptNumber</td>
                            <td><img src="/ExpenseProof/@individualExpenditure.AttachmentPath" width="100" height="100" /></td>
                            <td>@individualExpenditure.IsApproved</td>
                        </tr>
                    }
                </tbody>
            </table>


            <br />



            @*   <a asp-action="AddExpenditures" asp-route-id="@Model.Id" class="btn btn-success"> Add Individual Expenditures</a>
            <a asp-action="IndexExpenditures" asp-route-id="@Model.Id" class="btn btn-primary"> View Individual Expenditures</a>*@
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit Claim</a>

        </div>
    </div>

</body>

@*@await Html.PartialAsync("AddExpenditures", new DRS.ExpenseManagementSystem.UI.Models.IndividualExpenditure())


@await Html.PartialAsync("IndexExpenditures",Model.IndividualExpenditures)*@