@model DRS.ExpenseManagementSystem.UI.Models.ExpenseClaimViewModel
<html>
<head>
@{
    ViewData["Title"] = "Create";
}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>

        td {
            border: 1px solid #000033;
            text-align: left;
            /* padding: 2px;*/
        }

        th {
            border: 1px solid #000033;
            text-align: center;
            /* padding: 2px;*/
            color: whitesmoke;
        }



        tr:nth-child(even) {
            background-color: #e6f2ff;
        }


        /* Set the serial number counter to 0 */
        #Expense {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #Expense td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>

</head>
<body>
    <h4 style="padding-left:200px;"><u><b>Create New Claim</b></u></h4>
    <br />
    <div class="row">
        <div class="col-md-12" style="padding-left:225px;">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><b>Employee</b><span style="color:red;">*</span></label>
                            <input asp-for="EmpId" class="form-control" readonly />
                            <span asp-validation-for="EmpId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Department</b><span style="color:red;">*</span></label>
                            <input asp-for="DeptId" class="form-control" readonly />
                            <span asp-validation-for="DeptId" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label><b>Expense Start Date</b><span style="color:red;">*</span></label>
                            <input asp-for="StartDate" class="form-control" required />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label><b>Expense End Date</b><span style="color:red;">*</span></label>
                            <input asp-for="EndDate" class="form-control" required />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label><b>Today's Date</b><span style="color:red;">*</span></label>
                    <input asp-for="ClaimRequestDate" class="form-control" required />
                    <span asp-validation-for="ClaimRequestDate" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="ProjectId" class="form-label input-lable"><b>Project Detail/ Title</b><span style="color:red;">*</span></label>
                            <select asp-for="ProjectId" asp-items="ViewBag.projectList" class="form-control Selectinput" id="Project" required>
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3" style="padding-top:7px;">
                        <div class="form-group">
                            <label><b>Total Amount (<span>&#8377;</span>) </b>  </label>
                            <input asp-for="TotalAmount" class="form-control" id="ttlamnt" readonly />
                            @*<span class="form-control" id="ttlamnt"></span>*@
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6> <b>Individual Expenditure  </b> </h6>
                        </div>
                    </div>


                </div>


                <div style="padding-top:10px;">
                    <table id="Expense" style="font-family: arial, sans-serif;border-collapse:collapse;width:110%;padding-top:5px;font-size:14px;">
                        <thead>
                            <tr>
                                <th style="background-color: #0000b3;"> <label><b>Sl.No </b></label>   </th>

                                <th style="background-color: #0000b3;"> <label><b>Expenditure Date</b></label> </th>
                                <th style="background-color: #0000b3;"> <label><b>Description</b></label>      </th>
                                <th style="background-color: #0000b3;"> <label><b>Category</b>  </label>         </th>
                                <th style="background-color: #0000b3;"> <label><b>Expense Category</b>  </label> </th>
                                <th style="background-color: #0000b3;"> <label><b>Amount (<span>&#8377;</span>)</b>  </label>           </th>
                                <th style="background-color: #0000b3;"> <label><b>Comments</b>  </label>         </th>
                                <th style="background-color: #0000b3;"> <label><b>Receipt Number</b>  </label>   </th>
                                <th style="background-color: #0000b3;"> <label><b>Attachments</b>  </label>           </th>
                                <th style="background-color: #0000b3;"> <label><b>Actions</b>  </label>           </th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (var exp = 0; exp < Model.IndividualExpenditures.Count; exp++)
                            {
                                <tr>
                                    <td style="padding-left:20px;">
                                        &nbsp;
                                    </td>
                                    <td>
                                        <div style="width:135px;">
                                            <input asp-for="@Model.IndividualExpenditures[exp].ExpenditureDate" type="date" class="form-control" required />
                                            <span asp-validation-for="@Model.IndividualExpenditures[exp].ExpenditureDate" class="text-danger"></span>
                                        </div>

                                    </td>
                                    <td style="text-align: center">
                                        <input asp-for="@Model.IndividualExpenditures[exp].Description" class="form-control" required />
                                        <span asp-validation-for="@Model.IndividualExpenditures[exp].Description" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.IndividualExpenditures[exp].Category" class="form-control" required />
                                        <span asp-validation-for="@Model.IndividualExpenditures[exp].Category" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <select asp-for="@Model.IndividualExpenditures[exp].ExpenseCategoryId" asp-items="ViewBag.categoryList" class="form-control Selectinput" id="ExpenseCategory" required>
                                            <option value="">-- Select --</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.IndividualExpenditures[exp].Amount" class="form-control txt" id="amnt" required />
                                        <span asp-validation-for="@Model.IndividualExpenditures[exp].Amount" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.IndividualExpenditures[exp].Comments" class="form-control" required />
                                        <span asp-validation-for="@Model.IndividualExpenditures[exp].Comments" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.IndividualExpenditures[exp].ReceiptNumber" class="form-control" required />
                                        <span asp-validation-for="@Model.IndividualExpenditures[exp].ReceiptNumber" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.IndividualExpenditures[exp].ExpenseProof" class="form-control expenseproof" type="file" name="ExpenseProof" accept="image/*" required />
                                        <span asp-validation-for="@Model.IndividualExpenditures[exp].ExpenseProof" class="text-danger"></span>
                                        <input asp-for="@Model.IndividualExpenditures[exp].AttachmentPath" class="form-control chosenfilename" style="display:none" />

                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="col-md-4" style="padding-top:10px;">
                        <div class="form-group">
                            <input type="button" id="addRowBtn" value=" + Add New Expenditure" />
                        </div>
                    </div>
                </div>



                <br />
                <div class="form-group" style="padding-left:600px;">

                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script>

    // to add new rows in table
    var tablePosition = 1;
    var tableDom = `&lt;tr&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;datetime-local&quot; data-val=&quot;true&quot; data-val-required=&quot;The ExpenditureDate field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__ExpenditureDate&quot; name=&quot;IndividualExpenditures[${tablePosition}].ExpenditureDate&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].ExpenditureDate&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The Description field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__Description&quot; name=&quot;IndividualExpenditures[${tablePosition}].Description&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].Description&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The Category field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__Category&quot; name=&quot;IndividualExpenditures[${tablePosition}].Category&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].Category&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;select class=&quot;form-control Selectinput&quot; id=&quot;ExpenseCategory&quot; required=&quot;&quot; data-val=&quot;true&quot; data-val-required=&quot;The ExpenseCategoryId field is required.&quot; name=&quot;IndividualExpenditures[${tablePosition}].ExpenseCategoryId&quot;&gt; &lt;option value=&quot;&quot;&gt;-- Select --&lt;/option&gt; &lt;option value=&quot;1&quot;&gt;Internet and Telecom&lt;/option&gt; &lt;option value=&quot;2&quot;&gt;Travel to Client Site&lt;/option&gt; &lt;option value=&quot;3&quot;&gt;Food&lt;/option&gt; &lt;option value=&quot;4&quot;&gt;Test Record 1&lt;/option&gt; &lt;option value=&quot;5&quot;&gt;Travel&lt;/option&gt; &lt;option value=&quot;6&quot;&gt;Test 5&lt;/option&gt; &lt;/select&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control txt&quot; id=&quot;amnt&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-number=&quot;The field Amount must be a number.&quot; data-val-required=&quot;The Amount field is required.&quot; name=&quot;IndividualExpenditures[${tablePosition}].Amount&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].Amount&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The Comments field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__Comments&quot; name=&quot;IndividualExpenditures[${tablePosition}].Comments&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].Comments&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control&quot; required=&quot;&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The ReceiptNumber field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__ReceiptNumber&quot; name=&quot;IndividualExpenditures[${tablePosition}].ReceiptNumber&quot; value=&quot;&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].ReceiptNumber&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;/td&gt; &lt;td&gt; &lt;input class=&quot;form-control expenseproof&quot; type=&quot;file&quot; name=&quot;ExpenseProof&quot; accept=&quot;image/*&quot; required=&quot;&quot; data-val=&quot;true&quot; data-val-required=&quot;The ExpenseProof field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__ExpenseProof&quot;&gt; &lt;span class=&quot;text-danger field-validation-valid&quot; data-valmsg-for=&quot;IndividualExpenditures[${tablePosition}].ExpenseProof&quot; data-valmsg-replace=&quot;true&quot;&gt;&lt;/span&gt; &lt;input class=&quot;form-control chosenfilename&quot; style=&quot;display:none&quot; type=&quot;text&quot; data-val=&quot;true&quot; data-val-required=&quot;The AttachmentPath field is required.&quot; id=&quot;IndividualExpenditures_${tablePosition}__AttachmentPath&quot; name=&quot;IndividualExpenditures[${tablePosition}].AttachmentPath&quot; value=&quot;&quot;&gt; &lt;/td&gt; &lt;/tr&gt;`
    $(document).ready(function () {

        InitializeKeyUp();

        $(".btn-success").click(function () {

            $(".expenseproof").each(function () {

                $(this).siblings('.chosenfilename').val($(this)[0].files[0].name);
            });


        });

        function InitializeKeyUp() {
            //iterate through each textboxes and add keyup
            //handler to trigger sum event
            $(".txt").each(function () {
                $(this).keyup(function () {
                    calculateSum();
                });
            });
        }

        function calculateSum() {

            var sum = 0;
            //iterate through each textboxes and add the values
            $(".txt").each(function () {

                //add only if the value is number
                if (!isNaN(this.value) && this.value.length != 0) {
                    sum += parseFloat(this.value);
                }
            });
            $("#ttlamnt").val(sum);
        }
    });

    // insert new rows
    document.getElementById("addRowBtn").addEventListener("click", function () {
        var tbody = document.getElementById("ExpenseBody");
        tbody.insertAdjacentHTML('beforeend', htmlDecode(tableDom));
        InitializeKeyUp();
        tablePosition++;
    });


    function InitializeKeyUp() {
        //iterate through each textboxes and add keyup
        //handler to trigger sum event
        $(".txt").each(function () {
            $(this).keyup(function () {
                calculateSum();
            });
        });
    }

    function calculateSum() {

        var sum = 0;
        //iterate through each textboxes and add the values
        $(".txt").each(function () {

            //add only if the value is number
            if (!isNaN(this.value) && this.value.length != 0) {
                sum += parseFloat(this.value);
            }
        });
        $("#ttlamnt").val(sum);
    }

    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }


</script>
