@model IEnumerable<DRS.ExpenseManagementSystem.UI.Models.ExpenseClaimViewModel>

    <head>
    @{
        ViewData["Title"] = "Index";
    }

    <style>
        td{
            border: 1px solid #000033;
            text-align:left;
            padding: 6px;
        }

        th{
            border: 1px solid #000033;
            text-align: center;
            padding: 4px;
            color: whitesmoke;
            
        }

        tr:nth-child(even) {
            background-color: #e6f2ff;  
        }
        /* Set the serial number counter to 0 */
        #table {
            counter-reset: serial-number;
        }

            /* Increment the serial number counter */
            /* Display the counter */
            #table td:first-child:before {
                counter-increment: serial-number;
                content: counter(serial-number);
            }
    </style>

    </head>




<div style="padding-left:220px;">
  <h4 style="color:navy"> <u> <b> Claims Lists </b>  </u> </h4>
    <div style="padding-left:770px;">
        <a asp-action="Create" type="button" class="btn btn-success">Create New</a>
    </div>
    <div style="padding-top:10px;">
   

        <table class="table" id="table" style="font-family: arial, sans-serif;border-collapse:collapse;width: 100%;">
            <thead style="vertical-align:middle;">
                <tr>
                    <th style="background-color: #0000b3;vertical-align:central;">
                        Sl.No
                    </th>
                    <th style="background-color: #0000b3;vertical-align:central;">
                        Employee Code
                    </th>
                    <th style="background-color: #0000b3;vertical-align:central;">
                        Project Title
                    </th>
                    <th style="background-color: #0000b3;vertical-align:central;">
                        Department
                    </th>
                    <th style="background-color: #0000b3;vertical-align:central;">
                        Claim Request Date
                    </th>
                    <th style="background-color: #0000b3;vertical-align:central;">
                        Amount (<span>&#8377;</span>)
                    </th>
                    <th style="background-color: #0000b3;vertical-align:central;">
                      Claim  Status
                    </th>
                    <th style="background-color: #0000b3;vertical-align:central;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center;padding-left:12px;">
                            &nbsp;
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Emp.Emp.EmployeeCode)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Project.Title)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.Dept.Name)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.ClaimRequestDate)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.StatusNavigation.Name)
                        <td style="text-align:center;">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a asp-action="DetailsByClaimID" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                           @* <a asp-action="AddExpenditures" asp-route-id="@item.Id"><i class="fa fa-plus" aria-hidden="true"></i></a>*@
                        </td>

                    </tr>
                }
            </tbody>
        </table>
  </div>
   
</div>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}

